.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.message-bubble {
  overflow: hidden;
  display: inline-flexbox;
  margin : 2px;
}

.inner-sent, .inner-received {
  border: solid;
  border-width: 1px;
  border-radius: 2em;
  /* min-width: 200px; */
  max-width: 80%;
}

.text-sent  {
  float: left;
  color: black;
}

.text-received  {
  color: black;
  float: right;
}

.inner-sent {
  background-color: rgba(128, 128, 128, 0.329);
  padding-left: 20px;
  padding-right: 20px;
  /* justify-content: flex-start; */
  float: left;
}

.inner-received {
  background-color: rgba(0, 0, 255, 0.24);
  padding-right: 20px;
  padding-left: 20px;
  /* justify-content: flex-end; */
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
